<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    {% block style %}{% endblock %}

    <style>
        a.dark {
            color: black;
        }

    </style>
</head>

<body>

    <img src="/static/images/winter-england.jpg" alt="Windter England" class="w3-image w3-opacity">

    <div class="w3-top" style="opacity: 0.5;">
        <div class="w3-bar w3-blue">
            <a href="#" class="w3-bar-item w3-button dark">Home</a>
            <a href="#" class="w3-bar-item w3-button dark">Link 1</a>
            <a href="#" class="w3-bar-item w3-button dark">Link 2</a>
            <a href="#" class="w3-bar-item w3-button dark">Link 3</a>
        </div>
    </div>

    {% block content %}{% endblock %}


</body>

</html>