{% extends "base.html" %}

{% block title %}Main{% endblock %}

{% block style %}

<style>

</style>

{% endblock %}


{% block content %}

<div class="w3-display-middle">

    <div class="w3-container" style="opacity: 0.7;">

        <form class="w3-xlarge" action="/main" method="post">

            <input class="w3-input w3-border" type="text" name="mininame" placeholder="Name of Mini">                              
            <input class="w3-input w3-border" type="number" name="mininum" placeholder="Amount">                           
            <input class="w3-input w3-border" type="number" name="minipoint" placeholder="Points Cost">                         
            <input class="w3-input w3-border" type="number" name="minicost" placeholder="Monetary Value">                     
            <button class="btn-lg w3-block btn-primary w3-small" type="submit" style="opacity: 1;">Send Template</button>       

        </form>

    </div>

</div>

{% endblock %}

